@model VintageGamesCollector.Models.Game

@{
    ViewData["Title"] = "Create";
}

<h4>Create new game</h4>


@*Testing dropdownlist*@

@*@{
        ViewBag.Title = "Game type Select";
    }*@

@*@using (Html.BeginForm("CategoryChosen", "Home", FormMethod.Get))
    {
        <fieldset>
            Game Type
            @Html.DropDownList("GameTypes")
            <p>
                <input type="submit" value="Submit" />
            </p>
        </fieldset>
    }*@

@*Testing dropdownlist*@


<hr />
<div class="row">
    @* <div class="col-2">*@
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="GameId" />
        <div class="form-group" id="form-group" style=" display: inline-flex">
            <label asp-for="GameName" class="control-label"></label>
            <input asp-for="GameName" class="form-control" />
            <span asp-validation-for="GameName" class="text-danger"></span>
        </div>
        <div class="form-group" id="form-group" style=" display: inline-flex">
            @using (Html.BeginForm("CategoryChosen", "Home", FormMethod.Get))
            {
                <fieldset style=" display: inline-flex">
                    <label asp-for="GameTypeId" class="control-label"></label>
                    @Html.DropDownList("GameTypes")
                    @*<p>
                        <input type="submit" value="Submit" />
                    </p>*@
                </fieldset>
            }
        </div>
        <div class="form-group" id="form-group" style=" display: inline-flex">
            <label asp-for="GameImage" class="control-label"></label>
            <input class="form-control" type="file" name="Image" accept="image/*" />
            @*<input asp-for="GameImage" class="form-control" />*@
            <span asp-validation-for="GameImage" class="text-danger"></span>
        </div>
        <div class="form-group" id="form-group" style=" display: inline-flex">
            <label asp-for="LastPlayed" class="control-label"></label>
            <input asp-for="LastPlayed" class="form-control" />
            <span asp-validation-for="LastPlayed" class="text-danger"></span>
        </div>
        <div class="form-group" id="form-group" style=" display: inline-flex">
            <label asp-for="PlayedLevel" class="control-label"></label>
            <input asp-for="PlayedLevel" class="form-control" />
            <span asp-validation-for="PlayedLevel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>
@*</div> *@

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
